nav {
    display: block;
    max-width: max-content;
    padding: 1rem;
    margin: 0 auto;
    @media (min-width: 768px) {
        max-width: 70vw;
    }
    .navigation {
        @media (min-width: 468px) {
            display: block;
        }
        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }
    }
    a {
        margin: .5rem auto;
        font-size: 2.2rem;
        max-width: max-content;
        padding: 5px;
        margin-bottom: 2px;
    }
    a:hover {
        margin-bottom: 0;
        border-bottom: 2px solid black;
    }
    .hamburguer {
        display: block;
        margin: 1rem auto;
        max-width: max-content;
        text-align: center;
        @media (min-width: 468px) {
            display: none;
        }
    }
    .bars {
        font-size: 2rem;
    }
}

@media (max-width: 468px) {
    .show {
        display: block;
    }
    .hide {
        display: none;
    }
}